@import url(//db.onlinewebfonts.com/c/fe90d2b331edb90ed36369d0c270d5b6?family=BeaufortW01-Bold);

body {
    background-color: #0b0b23;
    color: white;
}

#mainNavbar {
    text-decoration: underline;
    background-color: #17172e;
    opacity: 0.8;
    text-decoration: none;

}

#mainNavbar a {
    color: white;
    text-transform: capitalize;
    text-decoration: none;
}

.jumbotron {
    background-image: url(https://www.jakpost.travel/wimages/large/8-87801_league-of-legends-champions-wallpaper-hd.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    color: white;
    font-weight: 900;
    font-size: larger;
}

.container-fluid {
    margin: 30px 0px;
}

.container-fluid li {
    list-style: none;
}


.container-fluid .container .card .champ-name {
    font-size: 120px;
    text-transform: uppercase;
    font-family: Beaufort for LOL;
    font-weight: 800;
    margin-top: 50%;
}