body {
    background-color: #0b0b23;
}

#mainNavbar {
    text-decoration: underline;
    background-color: #17172e;
    opacity: 0.8;
    text-decoration: none;

}

#mainNavbar a {
    color: white;
    text-transform: capitalize;
    text-decoration: none;
}

.jumbotron {
    background-image: url(https://www.jakpost.travel/wimages/large/8-87801_league-of-legends-champions-wallpaper-hd.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    color: white;
}

.col-sm {
    align-self: flex-end;
}

.container-fluid .champs {
    display: inline-block;
    width: 9%;
}


.hovereffect {
    width: 100%;
    height: 100%;
    float:left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.hovereffect:hover img{
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}


.champname {
    color: white;
}