.container-fluid {
    padding: 30px;
}

.container {
    padding: 15px;
}

label {
    width: 30%;
}

form {
    margin-top: 60px;
}

#fullname {
    display: inline-block;
    width: 69%;
    text-transform: capitalize;
}


#selectLocation {
    width: 69%;
    display: inline-block;
}

#languageFav {
    width: 69%;
    display: inline-block;
}

#comment {
    resize: none;
    height: 200px;
}

#button {
    text-align: right;
}