<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Amadon</title>
</head>

<body>
    <h1>Amadon Store!</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in all_products %}
            <tr>
                <form action="/checkout/process/" method="POST">
                    {% csrf_token %}
                    <td><b> {{product.description}}</b></td>
                    <td><input type="hidden" name="price" value="{{product.price}}">${{product.price}}</td>
                    <td><select name="quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select></td>
                    <td>
                        <input type='hidden' name='product_id' value='{{product.id}}' />
                        <button class="btn bg-primary text-light">
                            Buy
                        </button>
                    </td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>